{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
{% filter markdown %} 
##Holocaust-Opfer
### [Emigriert – und trotzdem ermordet](biographien/Emigriert-und-ermordet.html)
Von den 75 Juden in Kempen und St. Hubert gelang 30 bis zum Krieg die Emigration. Vier von ihnen wurden - als die Wehrmacht ihre Fluchtländer besetzte - trotzdem ermordet, darunter die Kinder Ilse Bruch und Liesel Mendel.

### [Hannchen, Johanna und Isidor Hirsch – vergast in Treblinka](biographien/Familie-Hirsch.html)

### [Kempener Kinder in der Gaskammer](biographien/KempenerKinderinderGaskammer.html)

### [Paula und Andreas Mendel](biographien/PaulaundAndreasMendel.html)
Das jüdische Ehepaar wurde von städtischen Polizisten in die Vernichtung gebracht. Ihr Sohn Kurt überlebte die Deportation als einziger Jude aus Kempen.

### [In einer fahrbaren Gaskammer ermordet: Wilhelmine Mendel](biographien/WilhelmineMendel.html)

##Euthanasie-Opfer
### [Verhungert oder zu Tode gespritzt…](biographien/Euthanasieopfer.html)
Mindestens sieben Behinderte aus Alt-Kempen und zwei aus St. Hubert wurden von den Nazis im Zuge der „Euthanasie“ ermordet – als „unwertes Leben“.

###[Josef Voss – im Gas ermordet wegen leichter Epilepsie](biographien/Josef-Voss.html)

##Kriegsgefangene
### [Edward Nizio](biographien/EdwardNizio.html)

### [Marian Kurzawa](biographien/Marian-Kurzawa.html)

### [Polnische Zwangsarbeiter – aufgehängt wegen "Verkehrs mit deutschen Frauen"](biographien/PolnischeZwangsarbeiter.html)

##Politisch Verfolgte
### [Der Künstler Fritz Wingen – verhungert im KZ Lublin](biographien/FritzWingen.html)

{% endfilter %}
    </div>
  </div>
</div>
{% endblock %}
